body {
    background-color: #282c34;
    margin: 0;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #61dafb;
}

.navbar {
    background-color: #61dafb;
    text-align: center;
    padding: 20px;
    color: #282c34;
    font-size: 30px;
}

.navbar > p {
    font-weight: 700;
}

.button-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 150px 0;
}

button {
    width: 200px;
    height: 200px;
    background-color: #61dafb;
    color: #282c34;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 60px;
}

button:hover {
    background-color: #4fa3d1;
}

.score, .result {
    font-size: 24px;
    color: #61dafb;
    text-align: center;
    padding: 30px;
}

.result {
    padding: 10px;
}